<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}">
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img th:src="@{/images/duck-512.png}" id="logo">
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="page-header">
        <h1>Суперцветение, олени-альбиносы и экспедиции — подробности о Far Cry: New Dawn</h1>
        <img th:src="'https://cdn.igromania.ru/mnt/news/6/6/f/9/1/8/79254/885dc2b8de3cc4c9_848x477.jpg'" id="newsImage">
    </div>
    <p>Вслед за анонсом Far Cry: New Dawn компания Ubisoft опубликовала на своём канале видео с дополнительными сведениями об игре. Авторы поведали о мире New Dawn и существах, которые его населяют.</p>
    <p>Как вы уже знаете, действие боевика происходит спустя 17 лет после событий Far Cry 5. В финале прошлой части над округом Хоуп вырос ядерный гриб — мы отправимся в постапокалиптический мир. Ubisoft поразмыслила над тем, что происходило во вселенной Far Cry, и изменила территорию практически до неузнаваемости.</p>
    <p>После взрыва в мире на несколько лет наступила ядерная зима. Затем пришли сезоны ветров, которые перемешали пески и землю. Наконец, грянули дожди, и началось «суперцветение» — поля покрылись буйной растительностью. Игроки застанут Хоуп уже ярким и солнечным.</p>
    <img th:src="'https://stopga.me/images/news/2018/12/07/normal_vln2wMd204lc.jpg'" id="newsImage1">
</div>




</body>
</html>
